---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/about?fields=storageQuota
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.blah-blah-meh_meh_meh_meh-blah
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "storageQuota": {
            "limit": "16106127360",
            "usage": "858337910",
            "usageInDrive": "858337910",
            "usageInDriveTrash": "86585"
          }
        }
  recorded_at: Sun, 07 May 2023 21:17:00 GMT
recorded_with: VCR 6.1.0
