---
http_interactions:
- request:
    method: get
    uri: https://people.googleapis.com/v1/people/me?personFields=metadata,emailAddresses
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.blah-blah-meh_meh_meh_meh-blah
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "resourceName": "people/101241854727239032273",
          "etag": "%EgUBCT43LhoEAQIFByIMMmlTVGZvcCtvYlE9",
          "metadata": {
            "sources": [
              {
                "type": "PROFILE",
                "id": "101241854727239032273",
                "etag": "#4eZz2/IuMFw=",
                "profileMetadata": {
                  "objectType": "PERSON",
                  "userTypes": [
                    "GOOGLE_USER",
                    "GOOGLE_APPS_USER"
                  ]
                }
              },
              {
                "type": "DOMAIN_PROFILE",
                "id": "101241854727239032273",
                "etag": "#4eZz2/IuMFw="
              }
            ],
            "objectType": "PERSON"
          },
          "emailAddresses": [
            {
              "metadata": {
                "primary": true,
                "verified": true,
                "source": {
                  "type": "DOMAIN_PROFILE",
                  "id": "101241854727239032273"
                }
              },
              "value": "jon@stuff.work"
            },
            {
              "metadata": {
                "source": {
                  "type": "DOMAIN_PROFILE",
                  "id": "101241854727239032273"
                }
              },
              "value": "jsmith@mrsmith.com",
              "type": "work",
              "formattedType": "Work"
            },
            {
              "metadata": {
                "verified": true,
                "source": {
                  "type": "DOMAIN_PROFILE",
                  "id": "101241854727239032273"
                }
              },
              "value": "jon@someventure.co"
            }
          ]
        }
  recorded_at: Mon, 28 Sep 2020 22:16:36 GMT
recorded_with: VCR 6.0.0
