---
http_interactions:
- request:
    method: get
    uri: https://people.googleapis.com/v1/people/me/connections?pageSize=100&personFields=emailAddresses,names
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.blah-blah-meh_meh_meh_meh-blah
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "connections": [
            {
              "resourceName": "people/c2135938136224466463",
              "etag": "%EggBAgcJLjc9PhoEAQIFByIMeU5kekNCaklXSVk9",
              "names": [
                {
                  "metadata": {
                    "primary": true,
                    "source": {
                      "type": "CONTACT",
                      "id": "1da4606b0fde861f"
                    }
                  },
                  "displayName": "Marilyn Smith",
                  "familyName": "Smith",
                  "givenName": "Marilyn",
                  "displayNameLastFirst": "Smith, Marilyn",
                  "unstructuredName": "Marilyn Smith"
                }
              ],
              "emailAddresses": [
                {
                  "metadata": {
                    "primary": true,
                    "source": {
                      "type": "CONTACT",
                      "id": "1da4606b0fde861f"
                    }
                  },
                  "value": "msmith@mac.com",
                  "type": "home",
                  "formattedType": "Home"
                },
                {
                  "metadata": {
                    "source": {
                      "type": "CONTACT",
                      "id": "1da4606b0fde861f"
                    }
                  },
                  "value": "msmith@me.com",
                  "type": "other",
                  "formattedType": "Other"
                }
              ]
            },
            {
              "resourceName": "people/c1597419354734556943",
              "etag": "%EggBAgcJLjc9PhoEAQIFByIMdWdPTTNkeGxwcWM9",
              "names": [
                {
                  "metadata": {
                    "primary": true,
                    "source": {
                      "type": "PROFILE",
                      "id": "101311073836012420713"
                    },
                    "sourcePrimary": true
                  },
                  "displayName": "Mr. Jon David Smith Esquire",
                  "familyName": "Smith",
                  "givenName": "Jon",
                  "middleName": "David",
                  "honorificPrefix": "Mr.",
                  "honorificSuffix": "Esquire",
                  "displayNameLastFirst": "Smith, Mr. Jon David, Esquire",
                  "unstructuredName": "Mr. Jon David Smith Esquire"
                }
              ],
              "emailAddresses": [
                {
                  "metadata": {
                    "primary": true,
                    "source": {
                      "type": "CONTACT",
                      "id": "162b2c708c49770f"
                    },
                    "sourcePrimary": true
    [...]
