---
http_interactions:
- request:
    method: get
    uri: https://people.googleapis.com/v1/contactGroups?groupFields=clientData,groupType,metadata,name&pageSize=100
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.blah-blah-meh_meh_meh_meh-blah
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "contactGroups": [
            {
              "resourceName": "contactGroups/2924db450ca4eed7",
              "etag": "HYUATrhUDnI=",
              "metadata": {
                "updateTime": "2014-08-28T09:29:48.784001Z"
              },
              "groupType": "USER_CONTACT_GROUP",
              "name": "Freeverse",
              "formattedName": "Freeverse"
            },
            {
              "resourceName": "contactGroups/chatBuddies",
              "groupType": "SYSTEM_CONTACT_GROUP",
              "name": "chatBuddies",
              "formattedName": "Chat contacts"
            },
            {
              "resourceName": "contactGroups/all",
              "groupType": "SYSTEM_CONTACT_GROUP",
              "name": "all",
              "formattedName": "All Contacts"
            },
            {
              "resourceName":[...]
