---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?corpora=user&fields=nextPageToken,incompleteSearch,files(id,mimeType,name,quotaBytesUsed,parents,spaces,starred,trashed,shared,owners(emailAddress),permissions(id,emailAddress,deleted,role,type,pendingOwner,allowFileDiscovery),capabilities,shortcutDetails,webViewLink)
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.blah-blah-meh_meh_meh_meh-blah
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "incompleteSearch": false,
          "files": [
            {
              "mimeType": "application/vnd.google-apps.spreadsheet",
              "parents": [
                "00000-parent0001-00000"
              ],
              "shared": false,
              "owners": [
                {
                  "emailAddress": "jfrisby@somewhere.com"
                }
              ],
              "webViewLink": "https://docs.google.com/spreadsheets/d/00000-document0001-00000/edit?usp=drivesdk",
              "permissions": [
                {
                  "id": "00000-permission0001-00000",
                  "type": "user",
                  "emailAddress": "jfrisby@somewhere.com",
                  "role": "owner",
                  "deleted": false,
                  "pendingOwner": false
                }
              ],
              "spaces": [
                "drive"
              ],
              "id": "00000-document0001-00000",
              "name": "Some Spreadsheet",
              "starred": true,
              "trashed": false,
              "quotaBytesUsed": "0",
              "capabilities": {
                "canChangeViewersCanCopyContent": true,
                "canEdit": true,
                "canCopy": true,
                "canComment": true,
                "canAddChildren": false,
                "canDelete": true,
                "canDownload": true,
                "canListChildren": false,
                "canRemoveChildren": false,
                "canRename": true,
                "canTrash": true,
                "canReadRevisions": true,
                "canChangeCopyRequiresWriterPermission": true,
                "canMoveItemIntoTeamDrive": true,
                "canUntrash": true,
                "canModifyContent": true,
                "canMoveItemOutOfDrive": true,
                "canAddMyDriveParent": false,
                "canRemoveMyDriveParent": true,
                "canMoveItemWithinDrive": true,
                "canShare": true,
                "canMoveChildrenWithinDrive": false,
                "canModifyContentRestriction": true,
                "canChangeSecurityUpdateEnabled": false,
                "canAcceptOwnership": false,
                "canReadLabels": false,
                "canModifyLabels": false
              }
            },
            {
              "mimeType": "application/vnd.google-apps.shortcut",
              "parents": [
                "00000-parent0002-00000"
              ],
              "shared": true,
              "owners": [
                {
                  "emailAddress": "foobar@gmail.com"
                }
              ],
              "webViewLink": "https://drive.google.com/file/d/00000-document0002-00000/view?usp=drivesdk",
              "permissions":[...]
