// Entry point for your Sass build

html {
  height: 100%;
  font-family: Inter, Helvetica, Arial, sans-serif; // font-inter
  font-size: 1rem; // text-base
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
